{% extends 'base.html' %}

{% block content %}

<section class="contato-hero">

    <div class="contato-hero-glow"></div>

    <div class="hero-texto contato-hero-texto">

        <span class="section-tag">EUPHORIA TECH</span>

        <h1>Vamos construir algo incrível</h1>

        <p>
            Envie sua ideia, projeto ou necessidade digital.  
            Nossa equipe irá analisar e retornar com a melhor solução para você.
        </p>

    </div>
</section>

<section class="contato-container">

    <form class="contato-form">

        <h2>Fale com a gente</h2>

        <div class="input-group">
            <input type="text" required>
            <label>Nome completo</label>
        </div>

        <div class="input-group">
            <input type="email" required>
            <label>E-mail corporativo</label>
        </div>

        <div class="input-group">
            <input type="text">
            <label>Telefone (opcional)</label>
        </div>

        <div class="input-group">
            <textarea rows="6" required></textarea>
            <label>Descreva seu projeto</label>
        </div>

        <button type="submit" class="botao btn-contato">
            Enviar mensagem
        </button>

    </form>

</section>

{% endblock %}